<div class="gray-color" style="border-top: 1px solid #D8D8D8; border-bottom: 1px solid #D8D8D8">
    <small>
        Prensa Estudiantil no se hace responsable por las opiniones emitidas en este espacio. Los comentarios aquí publicados son responsabilidad del usuario que los escribe. Prensa estudiantil recomienda el buen uso de este espacio ya que no serán eliminados ni censurados aquellos comentarios que utilicen un lenguaje soez, que ataquen a otras personas o sean publicidad de cualquier tipo.
    </small>
</div>