@model prensaestudiantil.Web.Models.PublicationViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Publication" />

            <div class="form-group" style="text-align: center">
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
                <input type="submit" value="Create and Add Images" asp-route-addImages="@true" class="btn btn-default btn-primary" />
                <input type="submit" value="Create" class="btn btn-default btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
