<br clear="all" />

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success fade in">
        <strong>Success!</strong> @TempData["Success"]
    </div>
}

