@{
    ViewData["Title"] = "Confirmar Email";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h1 class="title">Bienvenido a Prensa Estdiantil</h1>

    <p>
        Gracias por confirmar el Email. Ahora puedes loguearte en el sistema :)
    </p>
</div>
