@model prensaestudiantil.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Registrar Nuevo Usuario";
}

<h2>Registrar Nuevo Usuario</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <partial name="_User" />

            <div class="form-group" style="text-align: center">
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                <input type="submit" value="Registrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
