@{
    ViewData["Title"] = "No autorizado";
}

<br />
<br />
<p style="text-align: center">
    <img src="~/images/golang-mascot.png" />
    <h2 style="text-align: center">No estás autorizado para ejecutar esta acción!</h2>
</p>
