@{
    ViewData["Title"] = "NotAuthorized";
}

<br />
<br />
<p style="text-align: center">
    <img src="~/images/golang-mascot.png" />
    <h2 style="text-align: center">You are not authorized to perform this action!</h2>
</p>
