@model prensaestudiantil.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<h2>Recover Password</h2>

<br />
<p>
    <partial name="_AlertsDialog" />
</p>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            <div class="form-group">
                <a asp-action="Login" class="btn btn-primary">Back to login</a>
                <input type="submit" value="Recover password" class="btn btn-success" />
            </div>
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
        $(document).ready(function () {
            $(".alert").fadeTo(5000, 500).slideUp(500, function () {
                $(".alert-dismissible").alert('close');
            });
        });
</script>
}

