<div id="help-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>Ayuda para obtener identificador URL del video</h4>
            </div>
            <div class="modal-body">
                Ubique la URL completa del video en <span style="font-weight: bold">Youtube</span> y de esta obtenga únicamente los 11 caracteres posteriores a "watch?v="
                <p>
                    Ejemplo:
                </p>
                <p>
                    <small>
                        1. https://www.youtube.com/watch?v=<span style="color: red; font-weight: bold">CNOeat9G3UA</span>
                        <br />
                        2. https://www.youtube.com/watch?v=<span style="color: red; font-weight: bold">CNOeat9G3UA</span>&list=PLN_zwO0dqfkwYhhlOua08gCzWoMP-tmZz
                    </small>
                </p>
                <p>
                    Para ambos casos el texto que deberá copiar será "<span style="color: red; font-weight: bold; text-decoration: underline">CNOeat9G3UA</span>"
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="close-modal-help">Ok</a>
            </div>
        </div>
    </div>
</div>