@model prensaestudiantil.Web.Data.Entities.YoutubeVideo

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Youtube Video</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <partial name="_YoutubeVideo" />
        </form>
    </div>
</div>

<partial name="_VideoModalHelp" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#modal-help').click(function () {
                $("#help-modal").modal('show');
            });
            $('#close-modal-help').click(function () {
                $("#help-modal").modal('hide');
            });
        });
    </script>
}

